@model Otomasyon.Core.Entities.BasvuruFormu

@{
    ViewData["Title"] = "Değerlendirme Durumu";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <!-- Card component -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Değerlendirme Durumu</h3>
                </div>
                <div class="card-body">
                    <!-- Display evaluation status -->
                    <p><strong>Durum:</strong> @Model.Degerlendirme</p>
                </div>
                <div class="card-footer">
                    <!-- Add any additional footer content here, such as a button -->
                    <a href="@Url.Action("Create", "BasvuruFormu")" class="btn btn-primary">Başvurular</a>
                </div>
            </div>
        </div>
    </div>
</div>
